@model GYMS_TR.Models.TipoAplicacion
@{
    ViewData["Title"] = "EliminarTipoAplicacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EliminarTipoAplicacion</h1>

<form method="post" asp-action="EliminarTipoAplicacion">
    <input asp-for="Id" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-danger pl-3">Esta seguro de Eliminar el Tipo Aplicacion</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Nombre" class="form-label">Nombre TipoAplicacion</label>
                    <input asp-for="Nombre" disabled class="form-control" />
                </div>
            </div>
            <br />

            <div class="d-grid gap-2 d-md-block">
                <button type="submit" class="btn btn-danger">Eliminar</button>
                <a asp-controller="TipoAplicacion" asp-action="TipoAplicacionIndex" class="btn btn-success">Regresar</a>
            </div>
        </div>


    </div>
</form>